@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,900&family=Rubik:wght@400;500;700&display=swap');

:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container .rating_content{
    background-color:var(--Dark-Blue);
    height: 330px;
    width: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}

.rating_content .star{
background-color: var(--Light-Grey);
width: 2rem;
height:2rem ;
padding: 0.4rem;
border-radius: 50%;
}

.rating_content .star .star_image{
    padding-left: 0.05rem;
}

/*title*/

.rating_content .title{
    color: var(--White);
}

.rating_content .paragraph{
    color: var(--Light-Grey);
}

/*stars*/

.rating_content .rating_naumbers{
 display: flex;
 justify-content: space-between; 
 color:var(--White); 
}

.rating_content .rating_naumbers .one , .two,.three,.four,.five{
    background-color:var(--Light-Grey);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.2s;

}


.rating_content .rating_naumbers .one:hover , .two:hover,.three:hover,.four:hover,.five:hover{
background-color: var(--Very-Dark-Blue);
}

#btn{
    background-color: var(--Orange);
    width: 100%;
    border-radius: 1rem;
    color: var(--White);
    transition: ease-in-out 0.2s;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}
#btn:hover{
    background-color: var(--White);
    color: var(--Orange);
}


/*thanks section*/

.second_box{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;

}

.container .rating_content .img_two {
 width: 150px;
 height: 150px;
 margin: 0 auto;
}


.container .rating_content .selected_rate{
    background-color:var(--Very-Dark-Blue);
    color: var(--Orange);
    font-size: 1rem;
    text-align: center;
    padding: 0.2rem;
    font-weight: normal;
    border-radius: 0.5rem;
}

.container .rating_content .thank_you{
    color: var(--White);
    text-align: center;
}

.container .rating_content .paragraph{
    text-align: center;
    width: 100%;
}